/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f3f4f4;
}

.center-form-full {
  height: calc(100vh - 74px);
}
.main {
  padding-top: 4.5rem;
}
